<!-- Content -->
<div class="container" ng-controller = "profileController">
	<!-- main content -->
	<div class="jumbotron">
		<div class="container">
			<div class="panel panel-info">
		  		<div class = "panel-heading"> <h2 >Change Password</h2></div>
		  		<div class="panel-body">
					<form class="form-horizontal" role="form">
					    <div class="form-group">
					    	<div class="form-group">
					    		<label for="input" class="col-sm-2 control-label">New Password:</label>
					    		<div class="col-sm-10">
					    			<input type="password" name="" id="newPass" class="form-control" required="required" placeholder="New Password" tabindex="2" vaule="">
					    		</div>
					    	</div>
					    	<div class="form-group">
					    		<label for="input" class="col-sm-2 control-label">Confirm password:</label>
					    		<div class="col-sm-10">
					    			<input type="password" name="" id="confirmPass" class="form-control" required="required" placeholder="Confirm password" tabindex="3" vaule="" >
					    		</div>
					    	</div>

					    	<div class="panel-body">
					  			<div class="col-sm-12 col-offset-2">
					  				<a type="submit" class="btn btn-primary btn-lg col-xs-12 col-sm-4 col-sm-offset-1 left-block " ng-click= "updateUserPasswords()">Submit</a>
		  							<a type="submit" class="btn btn-warning btn-lg col-xs-12 col-sm-4 col-sm-offset-1 right-block " href = "#profile"  >Cancel</a>	
					  			</div>
					  		</div>
					    </div> 
			  		</form>
		  		</div>
		  	</div>
		</div>
	</div>