<!-- Content -->
<div class="container" ng-controller = "profileController">
	<!-- main content -->
	<div class="jumbotron">
		<div class="container">
			<div class="panel panel-info">
		  		<div class = "panel-heading"> <h2 >Change Profile</h2></div>
		  		<div class="panel-body">
					<form class="form-horizontal" role="form">
					    <div class="form-group">
							<div class="form-group">
								<label for="input" class="col-sm-2 control-label">Fullname:</label>
								<div class="col-sm-10">
									<input type="text" id="full_name" class="form-control" required="required" placeholder="Exp: Nguyen Quoc Minh, Davies Hat,..." tabindex="1" value="{{InfoUser.full_name}}">
								</div>
							</div>
							<div class="form-group">
								<label for="input" class="col-sm-2 control-label">Birthday:</label>
								<div class="col-sm-10">
									<input type="date" id="birthday"  class="form-control" required="required" placeholder="Exp: dd/mm/yyyy" tabindex="2" value="{{InfoUser.birthday}}">
								</div>
							</div>
							<div class="form-group">
								<label for="input" class="col-sm-2 control-label">Sex:</label>
								<div class="col-sm-10 ">
									<div class="radio-inline">
									  <label><input type="radio" name="SexCheck" ng-model="radioData.value" value="male" tabindex="3">Male</label>
									</div>
									<div class="radio-inline">
										<label><input type="radio" name="SexCheck" ng-model="radioData.value" value= "female">Female</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="input" class="col-sm-2 control-label">Phone number:</label>
								<div class="col-sm-10">
									<input type="text" id= "phone" class="form-control" required="required" placeholder="Exp: 01224650228, 01645249717" tabindex="4" value="{{InfoUser.phone}}">
								</div>
							</div>
							<div class="form-group">
								<label for="input" class="col-sm-2 control-label">Email:</label>
								<div class="col-sm-10">
									<input type="text" id="email"class="form-control" required="required" placeholder="Exp: User@example.io" tabindex="5" value="{{InfoUser.email}}">
								</div>
							</div>
							<div class="form-group">
								<label for="input" class="col-sm-2 control-label">Address:</label>
								<div class="col-sm-10">
									<input type="text" id="address"class="form-control" required="required" placeholder="Exp: User@example.io" tabindex="5" value="{{InfoUser.address}}">
								</div>
							</div>
					    </div> 
			  		</form>
		  		</div>
		  		<div class="panel-body">
		  			<a type="submit" class="btn btn-primary btn-lg col-xs-12 col-sm-5 left-block " ng-click= "updateUserInfo()">Submit</a>
		  			<a type="submit" class="btn btn-warning btn-lg col-xs-12 col-sm-6 col-sm-offset-1 right-block " href = "#profile"  ng-click= "CancelChangePass()">Cancel</a>	
		  		</div>
		  	</div>
		</div>
	</div>
