<div class="container-fluid" ng-controller= "managerController">
	<div class="jumbotron">
		<div class="container">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 " style="border-style: outset;">
				<ul class="nav nav-pills nav-stacked">
				  	<li class="active"><a data-toggle="tab" data-target="#productActive">Active Product</a></li>
				  	<li><a data-toggle="tab" data-target="#vipUserActive" ng-click="getVipUserUnActive()">Active vip user</a></li>
				  	<li><a data-toggle="tab" data-target="#adminUserActive" ng-click="getAdminUserUnActive()">Active admin user</a></li>
				  	<li><a data-toggle="tab" data-target="#userBlock" ng-click="getUserUnBlock()">Block user</a></li>
				  	<li><a data-toggle="tab" data-target="#userUnBlock" ng-click="getUserBlock()">Unblock user</a></li>
				  	<li><a data-toggle="tab" data-target="#userDelete" ng-click="getUnAdiminUser()">Delete user</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<div class="tab-content">
				  <div id="productActive" class="tab-pane fade in active">
					<div class="btn-toolbar">
				    	<div class="panel panel-default">
				    		<!-- Default panel contents -->
				    		<!-- Table -->
				    		<table class="table table-bordered table-hover">
				    			<thead>
				    				<tr>
				    					<th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Confirm</th>
				    					<th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Id</th>
				    					<th class="col-xs-6 col-sm-8 col-md-8 col-lg-8">Product</th>
				    				</tr>
				    			</thead>
				    			<tbody ng-repeat = "item in productsActive">
				    				<tr>
				    					<td class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><button type="button" class="btn btn-danger" ng-click="activeProduct(item)">Confirm</button></td>
				    					<td class="col-xs-3 col-sm-2 col-md-2 col-lg-2">{{item.product_id}}</td>
				    					<td class="col-xs-6 col-sm-8 col-md-8 col-lg-8">{{item.name}}</td>
				    				</tr>
				    			</tbody>
				    		</table>
				    	</div>
				    </div>
				  </div>
				  <div id="adminUserActive" class="tab-pane fade">
					<div class="btn-toolbar">
				    	<div class="panel panel-default">
				    		<!-- Default panel contents -->
				    		<!-- Table -->
				    		<table class="table table-bordered table-hover">
				    			<thead>
				    				<tr>
				    					<th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Confirm</th>
				    					<th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Id</th>
				    					<th class="col-xs-6 col-sm-8 col-md-8 col-lg-8">Username</th>
				    				</tr>
				    			</thead>
				    			<tbody ng-repeat = "item in adminUsersActive">
				    				<tr>
				    					<td class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><button type="button" class="btn btn-danger" ng-click="activeAdminUser(item)">Confirm</button></td>
				    					<td class="col-xs-3 col-sm-2 col-md-2 col-lg-2">{{item.user_id}}</td>
				    					<td class="col-xs-6 col-sm-8 col-md-8 col-lg-8">{{item.username}}</td>
				    				</tr>
				    			</tbody>
				    		</table>
				    	</div>
				    </div>
				  </div>
				  <div id="vipUserActive" class="tab-pane fade">
					<div class="btn-toolbar">
				    	<div class="panel panel-default">
				    		<!-- Default panel contents -->
				    		<!-- Table -->
				    		<table class="table table-bordered table-hover">
				    			<thead>
				    				<tr>
				    					<th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Confirm</th>
				    					<th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Id</th>
				    					<th class="col-xs-6 col-sm-8 col-md-8 col-lg-8">Username</th>
				    				</tr>
				    			</thead>
				    			<tbody ng-repeat = "item in vipUsersActive">
				    				<tr>
				    					<td class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><button type="button" class="btn btn-danger" ng-click="activeVipUser(item)">Confirm</button></td>
				    					<td class="col-xs-3 col-sm-2 col-md-2 col-lg-2">{{item.user_id}}</td>
				    					<td class="col-xs-6 col-sm-8 col-md-8 col-lg-8">{{item.username}}</td>
				    				</tr>
				    			</tbody>
				    		</table>
				    	</div>
				    </div>
				  </div>
				  <div id="userBlock" class="tab-pane fade">
					<div class="btn-toolbar">
				    	<div class="panel panel-default">
				    		<!-- Default panel contents -->
				    		<!-- Table -->
				    		<table class="table table-bordered table-hover">
				    			<thead>
				    				<tr>
				    					<th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Confirm</th>
				    					<th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Id</th>
				    					<th class="col-xs-6 col-sm-8 col-md-8 col-lg-8">Username</th>
				    				</tr>
				    			</thead>
				    			<tbody ng-repeat = "item in usersBlock">
				    				<tr>
				    					<td class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><button type="button" class="btn btn-danger" ng-click="blockUser(item)">Confirm</button></td>
				    					<td class="col-xs-3 col-sm-2 col-md-2 col-lg-2">{{item.user_id}}</td>
				    					<td class="col-xs-6 col-sm-8 col-md-8 col-lg-8">{{item.username}}</td>
				    				</tr>
				    			</tbody>
				    		</table>
				    	</div>
				    </div>
				  </div>
				  <div id="userUnBlock" class="tab-pane fade">
					<div class="btn-toolbar">
				    	<div class="panel panel-default">
				    		<!-- Default panel contents -->
				    		<!-- Table -->
				    		<table class="table table-bordered table-hover">
				    			<thead>
				    				<tr>
				    					<th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Confirm</th>
				    					<th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Id</th>
				    					<th class="col-xs-6 col-sm-8 col-md-8 col-lg-8">Username</th>
				    				</tr>
				    			</thead>
				    			<tbody ng-repeat = "item in usersUnBlock">
				    				<tr>
				    					<td class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><button type="button" class="btn btn-danger" ng-click="unBlockUser(item)">Confirm</button></td>
				    					<td class="col-xs-3 col-sm-2 col-md-2 col-lg-2">{{item.user_id}}</td>
				    					<td class="col-xs-6 col-sm-8 col-md-8 col-lg-8">{{item.username}}</td>
				    				</tr>
				    			</tbody>
				    		</table>
				    	</div>
				    </div>
				  </div>
				  <div id="userDelete" class="tab-pane fade">
					<div class="btn-toolbar">
				    	<div class="panel panel-default">
				    		<!-- Default panel contents -->
				    		<!-- Table -->
				    		<table class="table table-bordered table-hover">
				    			<thead>
				    				<tr>
				    					<th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Confirm</th>
				    					<th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Id</th>
				    					<th class="col-xs-6 col-sm-8 col-md-8 col-lg-8">Username</th>
				    				</tr>
				    			</thead>
				    			<tbody ng-repeat = "item in usersDelete">
				    				<tr>
				    					<td class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><button type="button" class="btn btn-danger" ng-click="deleteUser(item)">Confirm</button></td>
				    					<td class="col-xs-3 col-sm-2 col-md-2 col-lg-2">{{item.user_id}}</td>
				    					<td class="col-xs-6 col-sm-8 col-md-8 col-lg-8">{{item.username}}</td>
				    				</tr>
				    			</tbody>
				    		</table>
				    	</div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>