<div class="container" ng-controller= "profileController">
	<div class="jumbotron">
		<div class="container-fluid">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 block-center">
				<a href="#profile" class="thumbnail" >
					<img src="{{InfoUser.image}}" class="img-responsive img-circle" alt="" >
				</a>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 " >
				<div class="panel panel-primary">
					<div class="panel-body"></div>
					<label  class="col-xs-4 col-sm-3 col-md-3 col-lg-3">Username:</label>
					<label  class="col-xs-8 col-sm-9 col-md-9 col-lg-9">{{InfoUser.username}}</label>
					<label  class="col-xs-4 col-sm-3 col-md-3 col-lg-3">Fullname:</label>
					<label  class="col-xs-8 col-sm-9 col-md-9 col-lg-9">{{InfoUser.full_name}}</label>
					<label  class="col-xs-4 col-sm-3 col-md-3 col-lg-3">Birthday:</label>
					<label  class="col-xs-8 col-sm-9 col-md-9 col-lg-9">{{InfoUser.birthday}}</label>
					<label  class="col-xs-4 col-sm-3 col-md-3 col-lg-3">Sex:</label>
					<label  class="col-xs-8 col-sm-9 col-md-9 col-lg-9">{{InfoUser.sex}}</label>
					<label  class="col-xs-4 col-sm-3 col-md-3 col-lg-3">Email:</label>
					<label  class="col-xs-8 col-sm-9 col-md-9 col-lg-9">{{InfoUser.email}}</label>
					<label  class="col-xs-4 col-sm-3 col-md-3 col-lg-3">Phone:</label>
					<label  class="col-xs-8 col-sm-9 col-md-9 col-lg-9">{{InfoUser.phone}}</label>
					<label  class="col-xs-4 col-sm-3 col-md-3 col-lg-3">Address:</label>
					<label  class="col-xs-8 col-sm-9 col-md-9 col-lg-9">{{InfoUser.address}}</label>
					<div class="panel-body"></div>
					<div class="panel-footer">
						<div class="container">
							<a type="submit"  href ="#change_profile"  class="btn btn-primary left-block col-xs-12 col-sm-5">Change Profile</a>
							<a type="submit" href ="#change_password" class="btn btn-primary right-block col-xs-12 col-sm-6 col-sm-offset-1">Change Password</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>