<div class="container" ng-controller = "HomeController">
	<div class="row" style="margin-bottom: 16px;">
		<div class="col-xs-4 col-md-2">
	  		<div class="dropdown">
			  	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    Sort by: 
			    	<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="#/latest_products" ng-click = "FilterClick('latest_products')">Latest products</a></li>
				    <li><a href="#/highest_rating" ng-click = "FilterClick('highest_rating')">Highest rating</a></li>
				    <li><a href="#/low_to_high" ng-click = "FilterClick('low_to_high')">Price: Low to high</a></li>
				    <li><a href="#/high_to_low" ng-click = "FilterClick('high_to_low')">Price: High to low</a></li>
			  	</ul>
			</div>
		</div>
		<div class="col-xs-8 col-md-4">
	  		<div class="input-group">
	      		<input id="strname" type="text" class="form-control" placeholder="Search for..."/>
	      		<span class="input-group-btn">
	        		<a href="#/search" class="btn btn-default" type="button" ng-click = "FilterClick('search')">
	        			<span class="glyphicon glyphicon-search"></span>
	        		</a>
	      		</span>
	  		</div>
		</div>
	</div>

	<div class="row" ng-controller = "PageController">
		<div class="col-xs-6 col-md-3 col-sm-4" ng-repeat="product in products">
	  		<div class="thumbnail" style="height:420px;" ng-controller = "ImageController" ng-init = "FindImage(product.product_id)">
		      	<img ng-src="images/Products/{{mainImage}}" alt="">
		      	<div class="caption">
    		  		<a href="#product_detail/product_id={{product.product_id}}">
    		  			<h3 class="text-center" style="color:red;" >{{product.name}}</h3>
    		  		</a>
		        	<h4>Price: {{product.price | currency}}</h4>
		        	<div ng-controller = "TimeController">
		        		<h4 ng-init = "RemainingTime(product.end_day)">Remaining Time: {{hour}}:{{minute}}:00</h4>
	        		</div>
	        		<div ng-controller = "RateController" ng-init = "getRatio(product.product_id)" >
	        			<h4 id="rateDisplay">Rate: </h4>
		        		<h4 ng-bind-html = "starIndex(star)" id="rateDisplay"></h4>
	        		</div>
	      		</div>
	    	</div>
		</div>
	</div>

	<nav class="navbar-right">
		<ul class="pagination" ng-controller = "PageController">
			<li ng-repeat = "pi in PageIndex" ng-class = "PageActive(pi)" ng-click = "PageClick(pi)">
				<a href="#page_{{pi}}">
					{{pi}}
					<span class="sr-only">(current)</span>
				</a>
			</li>
	 	</ul>
	</nav>
</div>
