<div class="container" ng-controller = "ForgotPasswordController">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="post" accept-charset="utf-8" class="form" role="form">   
          <div ng-hide = "hide_step1">
          <center>
          <h1 style="color: blue; font-weight: bold;">Reset Password</h1>
          <span class="help-block">Please provide us your information to prove that this account is your</span>
          </center>
          <label id="paddingLabel">Username: </label><label id="labelColor">&nbsp; &nbsp;{{errUsername}}</label>
          <input type="text" id="username" value="" class="form-control input-lg" placeholder="Username"  />  

          <label id="paddingLabel">Email:</label><label id="labelColor">&nbsp; &nbsp;{{errEmail}}</label>
          <input type="text" id="email" value="" class="form-control input-lg" placeholder="Your Email"  />

          <label id="paddingLabel">Phone Number:</label><label id="labelColor">&nbsp; &nbsp;{{errPhone}}</label>
          <input type="text" id="phonenumber" value="" class="form-control input-lg" placeholder="Phone Number"/>

          <center style="margin-top: 20px;">
          <button class="btn btn-lg btn-primary signup-btn" type="submit" ng-click="CheckInfo();Continue()">Continue</button>
          </center>
          </div>

          <div ng-hide = "hide_step2">
          <label id="paddingLabel">New Password: </label><label id="labelColor">&nbsp; &nbsp;{{errPassword}}</label>
          <input type="password" id="new_password" value="" class="form-control input-lg" placeholder="Password"  />
          <label id="paddingLabel">Confirm New Password: </label>
          <input type="password" id="confirm_password" value="" class="form-control input-lg" placeholder="Confirm Password"  /> 
                    
          <center style="margin-top: 20px;">
          <button class="btn btn-lg btn-primary signup-btn" type="submit" ng-click="ResetPassword()">Reset Password</button>
          </center>   
          </div>

          </form>          
        </div>
    </div>
  </div>
</div>