<div class="container">
	<h3><strong>Auction tutorial</strong></h3>
		<li><b>Bid By Internet</b><br/>
       You can bid online in all of our upcoming Auctions. Every lot is listed with full descriptions, and most lots have high quality images. For Signature auctions, which have a live floor session component, Internet bids will be accepted until 10:00 PM CT the day before the live auction session takes place.<br/>

       <li><b>Bid By e-Mail</b><br/>
       You can also e-mail your bids to us at Bid@HA.com. List lot numbers and bids in columns, and include your name, address, phone, customer # (if known) and dealer references, as well as a statement of your acceptance of the Terms and Conditions of Sale. Email bids will be accepted up to 24 hours before the live auction.<br/>
       <li><b>Bid By Postal Mail</b><br/>
       Simply complete the Bid Sheet with your bids on the lots you want, sign it and mail it in. If yours is the high bid on any lot, we act as your representative at the auction and buy the lot as cheaply as competition permits.<br/>
	<h3><strong>Payment tutorial</strong></h3>
	Step 1: Log On<br/>
	You need to log  using you eID and Password, enter your eID and Password and click Sign in to log.<br/>
	Step 2:<br/>
	You will see the main menu. Click "Student Center" to go to the next screen.<br/>
	Step 3: Click on the  link<br/>
	Step 4: Click on the button<br/>
	Click the mouse on the Button.<br/>
	Step 5: The eBill web site<br/>
	Once you have been redirected to the eBill web site, you will need to click on "Make A Payment" to access the page that will allow you to choose which bill you wish to pay.<br/>
	Step 6: Choose what you want to pay.<br/>
	After you click on "Make A Payment", eBill will will take you to the page below where you will need to click what you would like to pay at the right.<br/>
	Step 7: Enter the amount to pay and add to shopping basket.<br/>
	Once you choose what you want to pay, a screen will come up and ask you to enter the amount to pay. Click "Add to Shopping Basket" to continue.<br/>
	Step 8: Click "Continue Shopping" to add more items, or click "Checkout" to checkout.<br/>
	Step 9: Select Payment Method<br/>
	Select the payment method you wish to use and then click "Continue Checkout".<br/>
	Step 10: Credit Card Payment Method<br/>
	Please note that if you do want to use a credit card, you will be charged a service charge of 2.9% of your payment amount. If you still want to proceed, put the check in by "I acknowledge that..." and click "Continue Checkout" otherwise click the back button on your browser.
	Step 11: Credit Card Payment Method (Continued)<br/>
	Enter all the credit card information below if you have chosen to use one and then click "Continue Checkout" and follow the rest of the online instructions.<br/>
	Step 12: ACH Payment Method<br/>
	Enter all the necessary bank account information in the screen below and then click "Continue Checkout" and follow the rest of the online instructions.<br/>
	<hr>
</div>
