<div class="container">
	<h3>Question 1: Can I get a building survey done on a property I am interested in bidding on?</h3>
    <p>Prospective purchasers may have a building survey carried out on a property at their own cost. There are short timescales when considering an auction property, so surveys should be arranged as soon as possible if deemed necessary. Arrangements can be made for.</p>
    <hr style="margin-top: 0px; border: 2px solid #ccc;">
	<h3>Question 2: I was successful in my bidding. Do I need to pay the full amount at the auction?</h3>
    <p>Purchasers are required to pay the higher of either a 10% deposit of the sale price or £2,000 at the auction. Generally, completion is set for 28 working days following the auction, where the balance of the money is due. The purchaser will also be required to pay an administration fee of £350 inclusive of VAT at the auction.f</p>
    <hr style="margin-top: 0px; border: 2px solid #ccc;">
    <h3>Question 3: Is there a ‘cooling off’ period after an auction, during which I can change my mind?</h3>
    <p>There is no cooling off period after an auction. The fall of the hammer constitutes a legally binding contract, and after this there is no opportunity to change the terms of sale.</p>
    <hr style="margin-top: 0px; border: 2px solid #ccc;">
    <h3>Question 4: The property I was bidding for didn’t reach its reserve price. What will happen to it now?</h3>
    <p>If the property does not reach the reserve price it will not be sold under the hammer. However if you are interested in the property, we advise that you come and speak to the auctioneer straight after the auction and submit your best offer. We try to make sure our vendors are contactable on the night of the auction and if the price is agreed it will be possible to exchange contracts immediately.</p>
</div>
